

body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
background-color: var(--cor-primaria);
background-image: url(/src/images/bg-desktop.svg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

header .logo{
    padding: 60px 20px 20px 100px;
}

main .conteiner-main{
display: flex;
justify-content: center;
text-align: start;
margin: 100px;
height: 400px;

}
main .conteiner-main .texto{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 40px;
}

main .conteiner-main .texto .titulo{
font-size: 40px;
margin: 20px;
font-weight: 400 bold;
}

main .conteiner-main .texto .subtitulo{
    font-size: 25px;
    margin: 21px;
    
}
main .conteiner-main .texto button {
    font-size: 20px;
    color: var(--cor-primaria);
    width: 20%;
    height: 50px;
    background-color:#fff;
    margin: 20px ;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 50px;
    box-shadow: 4px 4px 4px #000;
    cursor: pointer;
}

main .conteiner-main .texto button:hover{
    color: #fff;
    background-color: var(--cor-secundaria);
}

footer .icon{
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin: 180px 100px 1px auto;
   
  
}
footer .icon .twitter ,.facebook,.instagram{
    color: #fff;
    font-size: 38px;
    
}

footer .icon :hover{
    color: var(--cor-secundaria);
}

@media (max-width: 375px) {
    body{
        background-image: url(/src/images/bg-mobile.svg);
        
    }

    header .logo img{
    width: 150px;
    height: 70px;
    margin: 20px;

    }
    header .logo{
        padding: 0px;
    }
    main .conteiner-main{
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin: 5px 50px;
    }
    main .conteiner-main .ilustration img{
        width: 300px;
        height: 200px;
        
       
    }
    main .conteiner-main .texto {
        margin: 0px;
        display: inline-block;
        width: 300px;
        height: 250px;
    }

    main .conteiner-main .texto .titulo {
        font-size: 25px;
        text-align: center;
        margin: 0;
    }

    main .conteiner-main .texto .subtitulo {
        font-size: 17px;
        text-align: center;
    }

    main .conteiner-main .texto button {
        font-size: 15px;
        width: 200px;
        color: var(--cor-primaria);
        background-color: #fff;
    }
    footer .icon{
        margin:170px 50px 50px 140px;
        display: inline-block;

    }
    footer .icon .twitter ,.facebook,.instagram{
        color: #fff;
        font-size: 20px;
        margin: 5px;
    }
}